<ion-header>
  <ion-toolbar>
    <ion-title>Carona</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/motorista']">
        <ion-icon name="car-sport" size=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let driver of drivers">
    <ion-card>
      <div class="card-container">
        <div class="info">
          <p class="name">{{driver.name}}</p>
          <p class="address">{{driver.location.address}}</p>
          <p class="address"><strong>Telefone:</strong> {{driver.phone}}</p>
        </div>
        <div class="buttons">
          <a href="https://api.whatsapp.com/send?phone=+55{{driver.phone}}&amp;text=Olá,%20você%20pode%20me%20dar%20uma%20carona%20?" target="_blank"> 
            <ion-icon color="success" name="logo-whatsapp"></ion-icon>      
          </a>
          <ion-icon color="danger" name="location-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>