<ion-content class="ion-padding">
  <div id="logo_div">
    <ion-text color="medium">
      <img src="../../../assets/icon/logo.png" height="130">
      <h3>App Carona</h3>
    </ion-text>
  </div>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Email" autofocus="true" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
    </ion-item>
    
    <br/><br/>

    <ion-button type="submit" [disabled]="this.loginForm.invalid" expand="block" shape="round" size="default">
      Enviar
    </ion-button>
  </form>

</ion-content>



