<ion-content class="ion-padding">

  <app-header title="Login"></app-header>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Email" autofocus="true" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
    </ion-item>
    
    <br/><br/>

    <ion-button type="submit" [disabled]="this.loginForm.invalid" expand="block" shape="round" size="default">
      Enviar
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button size="small" [routerLink]="['/forgot']" fill="clear" color="primary">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" [routerLink]="['/register']" fill="clear" color="primary">Criar conta</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>



