<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem vindo(a) ao App Carona
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-header title="Início"></app-header>

  <div id="container">
    <div id="btn_home">
      <ion-button [routerLink]="['/motorista']" expand="block" size="large" type="submit" color="warning"> 
        <ion-icon name="information-circle"></ion-icon> Atualizar Informações <ion-icon name="information-circle"></ion-icon>
      </ion-button>
      <br>
      <ion-button [routerLink]="['/carona']" expand="block" size="large" type="submit" color="tertiary">  
        <ion-icon name="walk"></ion-icon> Pegar uma Carona <ion-icon name="walk"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer style="background:black;">
  <ion-row>
    <ion-col>
      <ion-button (click)="logout()" expand="block" fill="clear" shape="round" color="danger">
        Sair  
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>