<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem vindo(a) ao App Carona
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <app-header title="Início"></app-header>

  <div id="btnMenu">
    <ion-button color="primary" [routerLink]="['/motorista']" expand="block">Atualizar Informações</ion-button><br>
    <ion-button color="warning" [routerLink]="['/carona']"expand="block">Pegar uma Carona</ion-button><br>
  </div>

</ion-content>

<ion-footer style="background:black;">
  <ion-row>
    <ion-col>
      <ion-button (click)="logout()" expand="block" fill="clear" shape="round" color="danger">
        Sair  
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>